/* Colors */

html {
	--bg:                       #222222;
	--fg:                       #dddddd;
	--border:                   #999999;

	--scrollbar-bg:             #2222227f;
	--scrollbar-fg:             #999999;
	--selection-bg:             #7043b1;
	--selection-fg:             #ffffff;

	--main-bg:                  #343434;
	--block-bg:                 #444444;
	--block-nested-bg:          #383838;
	--transclusion-bg:          #4444447f;
	--modal-backdrop-bg:        #0000004c;
	--highlight-bg:             #e17bff5f;

	--disabled-bg:              #4c4c4c;
	--disabled-fg:              #999999;

	--error-bg:                 #5b3535;
	--error-border:             #a84343;

	--btn-bg:                   #444444;
	--btn-fg:                   #dddddd;
	--btn-hover-bg:             #4f4f4f;
	--btn-destructive-fg:       #dddddd;
	--btn-destructive-bg:       #b92828;
	--btn-destructive-hover-bg: #d03333;

	--link-fg:                  #f1fa8c;
	--link-hover-fg:            #fdff95;
	--link-interwiki-fg:        #009900;
	--link-interwiki-hover-fg:  #00bb00;
	--link-new-fg:              #dd4444;
	--link-new-hover-fg:        #ff4444;

	--diff-addition-fg:         #4cd74c;
	--diff-deletion-fg:         #d74e4c;
}

@media (prefers-color-scheme: light) {
	html {
		--bg:                       #ffffff;
		--fg:                       #444444;
		--border:                   #888888;

		--scrollbar-bg:             #ffffff7f;
		--scrollbar-fg:             #888888;
		--selection-bg:             #87389e;
		--selection-fg:             #eeeeee;

		--main-bg:                  #eeeeee;
		--block-bg:                 #e0e0e0;
		--block-nested-bg:          #cccccc;
		--transclusion-bg:          #dddddd7f;
		--modal-backdrop-bg:        #0000004c;
		--highlight-bg:             #e27eff7f;

		--disabled-bg:              #d0d0d0;
		--disabled-fg:              #888888;

		--error-bg:                 #ffbbbb;
		--error-border:             #e15757;

		--btn-bg:                   #d4d4d4;
		--btn-fg:                   #444444;
		--btn-hover-bg:             #dfdfdf;
		--btn-destructive-fg:       #dddddd;
		--btn-destructive-bg:       #dd4444;
		--btn-destructive-hover-bg: #b92828;

		--link-fg:                  #2222ee;
		--link-hover-fg:            #2222cc;
		--link-interwiki-fg:        #008800;
		--link-interwiki-hover-fg:  #006600;
		--link-new-fg:              #dd4444;
		--link-new-hover-fg:        #bb4444;

		--diff-addition-fg:         #008000;
		--diff-deletion-fg:         #dd4444;
	}
}

@media print {
	html {
		--bg:                       #ffffff;
		--fg:                       #000000;
		--border:                   #000000;

		--scrollbar-bg:             #ffffff;
		--scrollbar-fg:             #999999;
		--selection-bg:             #000000;
		--selection-fg:             #ffffff;

		--main-bg:                  #ffffff;
		--block-bg:                 #e0e0e0;
		--block-nested-bg:          #cccccc;
		--transclusion-bg:          #dddddd7f;
		--modal-backdrop-bg:        #0000004c;
		--highlight-bg:             #e27eff7f;

		--disabled-bg:              #eeeeee;
		--disabled-fg:              #888888;

		--error-bg:                 #ffbbbb;
		--error-border:             #e15757;

		--btn-bg:                   #cccccc;
		--btn-fg:                   #000000;
		--btn-hover-bg:             #cccccc;
		--btn-destructive-fg:       #000000;
		--btn-destructive-bg:       #eeeeee;
		--btn-destructive-hover-bg: #eeeeee;

		--link-fg:                  #2222ee;
		--link-hover-fg:            #2222cc;
		--link-interwiki-fg:        #008800;
		--link-interwiki-hover-fg:  #006600;
		--link-new-fg:              #dd4444;
		--link-new-hover-fg:        #bb4444;

		--diff-addition-fg:         #008000;
		--diff-deletion-fg:         #dd0000;
	}
}

.non-existent-hypha__actions { margin-bottom: 1rem; }
.non-existent-hypha__title { margin: 1rem 0; }

.amnt-grid { display: grid; grid-template-columns: minmax(0, 1fr) minmax(0, 1fr); gap: 1rem; }

.link-list a { display: inline-block; padding-top: .25rem; padding-bottom: .25rem; }
.link-list blockquote { margin-top: -0.25rem; margin-bottom: .25rem; }
.media-type-badge { font-size: smaller; color: var(--border); }

/* General element positions, from small to big */
/* Phones and whatnot */
body { display: grid; row-gap: .5rem; }
header { width: 100%; }

.layout-card li { list-style-type: none; }

*, *::before, *::after {box-sizing: border-box;}
:focus { outline: 0.125rem solid var(--border); }
html { height:100%; font-size:16px; padding:0; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; }
body { margin: 0; font-family: sans-serif; }
input, kbd, select, option { font: inherit; font-size: 1rem; }
textarea { font-size: 1rem; font-family: 'Menlo', 'PT Mono', monospace; line-height: 150%; }
select { cursor: pointer; }

body.modal-page { grid-template-rows: 1fr auto 1fr; grid-template-columns: 1fr auto 1fr; height: 100%; }
body.modal-page main { grid-row: 2 / span 1; grid-column: 2 / span 1; }

.edit_no-preview { height: 90vh; }
.edit_with-preview .edit-form { height: 90vh; }
.edit__title { margin-top: 0; }
.edit__preview { border: 0.125rem dashed var(--border); padding: 0 1rem; margin: 0 -1rem; }
.edit-form__textarea { height: 80vh; min-height: 4rem; resize: none; }
.edit-toolbar__buttons { display: grid; grid-template-columns: 1fr 1fr; gap: 0.25rem; }
.edit-toolbar__buttons, .edit-toolbar__help { margin: .5rem; }
.edit-form { height: 100%; display: flex; flex-direction: column; align-items: stretch; gap: 0.5rem; }
.edit-form > * { margin: 0; }

@media screen and (max-width: 800px) {
	.amnt-grid { grid-template-columns: minmax(0, 1fr); }
	body { grid-template-columns: 100%; grid-template-rows: auto auto auto; }
	.main-width { width: 100%; }
	main { padding: .5rem 1rem 1rem 1rem; }
}

/* No longer a phone but still small screen: center main */
@media screen and (min-width: 801px) {
	.main-width { padding: 1rem 2rem; width: 800px; margin: 0 auto; }
	main { border-radius: .25rem; }
	.layout-card { width: 800px; margin: 0 auto; }
}

/* Wide enough to fit two columns ok */
@media screen and (min-width: 1100px) {
	body { display: grid; grid-template-columns: auto 1fr; column-gap: 1rem; row-gap: .5rem; }
	header { grid-column: 1 / span 2; grid-row: 1 / span 1; margin: 0; }
	main { grid-column: 1 / span 1; grid-row: 2 / span 2; }
	main.main-width { margin-left: .5rem; }
	.markup-toolbar, .help-topics, .categories-card { grid-column: 2 / span 1; grid-row: 2 / span 1; }
	.action-toolbar { grid-column: 2 / span 1; grid-row: 3 / span 1; }
	.layout-card { width: 100%; margin-left: -.5rem; }
}

@media screen and (min-width: 1200px) {
	body { grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr); }
	header { grid-column: 1 / span 3; grid-row: 1 / span 1; margin: 0; }
	.layout-card {max-width: 18rem;}
	.main-width { margin: 0 auto; }
	main.main-width { grid-column: 2 / span 1; grid-row: 2 / span 3; margin: 0; }
	.markup-toolbar, .help-topics { grid-column: 3 / span 1; margin-left: -.5rem; grid-row: 2 / span 2; }
	.markup-toolbar { grid-column: 3 / span 1; grid-row: 2 / span 2; margin-left: -.5rem; }
	.action-toolbar, .categories-card { grid-column: 1 / span 1; grid-row: 2 / span 1; margin: 0 -.5rem 0 .5rem; justify-self: end; }
	.edit-toolbar__buttons { grid-template-columns: 1fr; }
}

@media screen and (min-width: 1400px) {
	.edit-toolbar__buttons { grid-template-columns: 1fr 1fr; }
}

.icon {
	padding-left: 1.5em;
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 1em 1em;
}
.icon-lock { background-image: url("icon/lock.svg"); }
.icon-text { background-image: url("icon/text.svg"); }
.icon-media { background-image: url("icon/media.svg"); }

main h1:not(.navi-title) {font-size:1.7rem;}
blockquote { margin: 0; padding-left: .75rem; }
.wikilink { text-decoration: none; }
.wikilink:hover { text-decoration: underline; }
.wikilink_external { padding-left: 1.2em; }
.wikilink_gopher { background: url("icon/gopher-proto.svg") left/1em no-repeat; }
.wikilink_http, .wikilink_https { background: url("icon/http-proto.svg") left/1em no-repeat; }
.wikilink_gemini { background: url("icon/gemini-proto.svg") left/1em no-repeat; }
.wikilink_mailto { background: url("icon/mailto-proto.svg") left/1em no-repeat; }

article { line-height: 150%; }
main h1 { margin: .5rem 0; }
main h2, main h3, main h4, main h5, main h6 { margin: 1.5rem 0 .5rem 0; clear: both; }
.heading__link { text-decoration: none; display: inline-block; }
.heading__link::after { width: 1rem; content: "§"; color: transparent; }
.heading__link:hover::after, .heading__link:active::after { color: var(--border); }
p, table, main ul, ol { margin: .5rem 0; }
main ul { padding-left: 1rem; }
main ul.launchpad { padding-left: 0; }
ol { padding-left: 2.5rem; }
code { padding: .1rem .3rem; border-radius: .25rem; font-size: 90%; font-family: 'Menlo', 'PT Mono', monospace; }
pre.codeblock { padding:.5rem; white-space: pre-wrap; border-radius: .25rem;}
.codeblock code {padding:0; font-size:1rem; tab-size: 3;}
.transclusion { border-radius: .25rem; margin-bottom: .25rem; clear: both; }
.transclusion_failed { padding: 0 .5rem; }
.transclusion__content > *:not(.binary-container) {margin: 0.5rem; }
.transclusion__link {position: relative; display: block; float: right; text-align: right; font-style: italic; margin-right: .25rem; text-decoration: none; z-index: 2;}
.transclusion__link::before {content: "⇐ ";}

.launchpad__entry {
	list-style: none;
	padding-left: 1.5em;
	background: url("icon/rocket-link.svg") left 0.25em / auto 1em no-repeat;
}

.binary-container { width: 100%; text-align: center; }
.binary-container_with-img img,
.binary-container_with-video video,
.binary-container_with-audio audio { max-width: 100%; max-height: 30rem; width: auto; }

.navi-title { padding-bottom: .5rem; margin: .25rem 0; }
.navi-title a {text-decoration:none; }
.navi-title__separator { margin: 0 .25rem; }
.navi-title__colon { margin-right: .5rem; }
.navi-title__home { padding-left: 1.25em; background: url("icon/favicon.svg") left / 1em 1em no-repeat; }
aside { clear: both; }

#new-name {width:100%;}

.prevnext__el { display: inline-block; min-width: 40%; padding: .5rem 0; margin-bottom: .25rem; text-decoration: none; border-radius: .25rem; max-width: 49%; }
.prevnext__prev { float: left; }
.prevnext__next { float: right; text-align: right; }

.page-separator { clear: both; }
.history__entries { margin: 0; padding: 0; border-radius: .25rem; }
a.history__month-anchor,
a.history__month-anchor:visited,
a.history__month-anchor:hover { text-decoration: none; color: var(--fg); }
.history__entry { list-style-type: none; padding: .25rem; }
.history-entry { padding: .25rem; }
.history-entry__time { font-weight: bold; }
.history-entry__author { font-style: italic; }

table { background: transparent; border: 0; border-collapse: collapse; display: block; overflow-x: auto; word-break: keep-all; }
td, th { min-width: 10rem; max-width: 20rem; padding: 0 0.5rem; }
caption {
	caption-side: top;
	margin: 0.5rem 0;
	font-size: 1.2rem;
	font-weight: bold;
	text-align: left;
}

.subhyphae__list, .subhyphae__list ul { display: flex; flex-flow: row wrap; gap: 0.25rem; padding: 0; margin: 0; }
.subhyphae__list ul { font-size: 90%; margin-top: 0.25rem; }
.subhyphae__list ul li { border-width: 0.0625rem; }
.subhyphae__entry, .subhyphae__link { padding: 0.25rem; border-radius: .25rem; }
.subhyphae__entry { list-style-type: none; border: 0.125rem solid var(--border); }
.subhyphae__link { display: block; margin: -0.25rem; text-decoration: none; }
.subhyphae__link:hover { background: var(--block-bg); }
.subhyphae__truncated { list-style-type: none; border: 0; padding: 0; margin: 0 0.25rem; align-self: center; }
.subhyphae__truncated:first-child { width: 100%; margin-top: -0.25rem; text-align: center; }

/* Color stuff */

html { background: var(--bg); color: var(--fg); }
main, article, header, .layout-card { background-color: var(--main-bg); color: var(--fg); }

p code,
article .codeblock,
thead,
tbody { background-color: var(--block-bg); }
.transclusion_stand-out { background-color: var(--transclusion-bg); }
.transclusion_failed { border: 0.125rem solid var(--error-border); }
.transclusion_blend .transclusion__link { display: none; }

.layout-card { border-radius: .25rem; }
.layout-card__title {
	font-size: 1rem;
	margin: 0;
	padding: .25rem .5rem;
	border-radius: .25rem .25rem 0 0;
	background-color: var(--main-bg);
	border-bottom: 0.125rem solid var(--border);
}

blockquote { border-left: 0.125rem var(--border) solid; }

a, a:visited,
.wikilink, .wikilink:visited,
.wikilink_external, .wikilink_external:visited { color: var(--link-fg); }
a:hover, .wikilink:hover, .wikilink_external:hover { color: var(--link-hover-fg); }

.wikilink_interwiki, .wikilink_interwiki:visited { color: var(--link-interwiki-fg); }
.wikilink_interwiki:hover { color: var(--link-interwiki-hover-fg); }

.wikilink_new, .wikilink_new:visited { color: var(--link-new-fg); }
.wikilink_new:hover { color: var(--link-new-hover-fg); }

.shy-link, .shy-link:visited, .shy-link:hover,
.transclusion__link, .transclusion__link:visited, .transclusion__link:hover,
.prevnext__el, .prevnext__el:visited, .prevnext__el:hover {
	color: var(--fg);
}

.transclusion__link:hover, .prevnext__el:hover {
	background-color: var(--block-bg);
}

.navi-title { border-bottom: var(--border) 0.125rem solid; }
.prevnext { border-top: var(--border) 0.125rem solid; clear: both; }
td, th { border: var(--border) 0.125rem solid; }

.categories-card__link:hover { background-color: var(--block-bg); }

input, select, option,
code, .codeblock, .history__entry, textarea, thead, tbody {
	border: 0;
	background-color: var(--block-bg);
	color: var(--fg);
}
input:disabled, textarea:disabled, select:disabled {
	background-color: var(--disabled-bg);
	color: var(--disabled-fg);
}
input[type="file"] { background-color: transparent; width: 100%; max-width: 100%; }
table code { background-color: var(--block-nested-bg); }

mark { background: var(--highlight-bg); color: inherit; }

@supports selector(::-webkit-scrollbar) {
	::-webkit-scrollbar { background: var(--scrollbar-bg); }
	::-webkit-scrollbar-thumb { background: var(--scrollbar-fg); }
}

@supports (scrollbar-color: auto) {
	* { scrollbar-color: var(--scrollbar-fg) var(--scrollbar-bg); }
}

::selection {
	background: var(--selection-bg);
	color: var(--selection-fg);
}

/*
 * Categories
 */
.categories-card__entries {
	padding: 0;
	margin: 0;
}
.categories-card__entry {
	display: flex;
}
.categories-card__link {
	display: inline-block;
	text-decoration: none;
	padding: .25rem .5rem;
	flex: 9;
}
.categories-card__add-to-cat {
	width: 100%;
}
.categories-card__add-form {
	width: 100%;
	display: flex;
}
.categories-card .categories-card__btn {
	display: block;
	flex: 1;
	border: none;
	background: none;
}
.categories-card #_cat-input {
	width: 100%;
	margin: 0;
	padding: 0 .5rem;
	border: none;
}
h2 + .add-to-category {
	margin-top: .5rem;
}
.add-to-category input[type="submit"] {
	display: block;
}

@media screen and (max-width: 799px) {
	.categories-card .categories-card__btn {
		display: block;
		flex: 1;
		border: none;
		background: none;
		padding: .25rem 1.5rem;
	}
}

/*
 * Shortcuts
 */

kbd {
	display: inline-block;
	min-width: 1.5ch;
	text-align: center;
	color: var(--fg);
}

.kbd-or {
	opacity: .4;
}

.shortcuts-help .modal__content {
	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr;
	overflow-y: auto;
}

@media screen and (min-width: 600px) {
	.shortcuts-help .modal__content {
		grid-template-columns: 1fr 1fr;
	}
}

.shortcuts-group {
	display: table;
	overflow: unset;
	width: 100%;
	margin: 0;
	word-break: break-word;
}

.shortcuts-group caption { margin-top: 0; }
.shortcut-row td { padding: 0.5rem; }
.shortcut-row__description { min-width: 50%; }
.shortcut-row__keys { width: 10rem; min-width: unset; }

/*
 * Tables
 */

.users-table {
	margin: 1rem 0;
}

.users-table th, .users-table td {
	padding: 0.5rem;
}

.table-cell--fill {
	width: 100%;
}

/*
 * Form fields
 */

.form-field { margin: 1rem 0; }
.form-field label { display: block; }
.form-field input[type="checkbox"] + label { display: inline-block; }
.form-field li { margin: 0.5rem 0; }
.form-buttons, .btn-row { display: flex; flex-flow: row wrap; gap: 1rem; }

@media (min-width: 600px) {
	.form--double .form-field {
		display: grid;
		grid-template-columns: 9rem max-content;
		grid-column-gap: 1rem;
	}
	.form--double .form-field label {
		grid-column: 1;
	}
	.form--double .form-field input,
	.form--double .form-field button,
	.form--double .form-field select,
	.form--double .form-field textarea,
	.form--double .form-field__input {
		grid-column: 2;
	}
}

/*
 * Notices
 */

.notice {
	margin: 1rem 0;
	border: 0.125rem solid;
	padding: 0.5rem 0.7rem;
}

.notice--error {
	border-color: var(--error-border);
	background-color: var(--error-bg);
}

/*
 * Modals
 */
.modal__title { font-size: 1.7rem; }
.modal__title_small { font-size: 1.5rem; }
.modal__title_xsmall { font-size: 1.2rem; font-weight: bold; }
.modal__title.icon, .modal__title_small.icon, .modal__title_xsmall.icon {
	background-position: 0.25em center;
}
.modal__fieldset {
	position: relative;
	padding: 1rem;
	margin: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	border: 0.125rem solid var(--border);
}
.modal__fieldset > * { margin: 0; }
.modal__fieldset > .form-buttons { margin-top: auto; }

.modal-backdrop {
	display: grid;
	grid-template-rows: 1fr auto 1fr;
	grid-template-columns: 1fr auto 1fr;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background-color: var(--modal-backdrop-bg);
}

.modal-backdrop .modal {
	grid-row: 2 / span 1;
	grid-column: 2 / span 1;

	max-width: 1000px;
	max-height: 100vh;

	margin: 0 1.5rem;
	padding: 1.5rem;

	color: var(--fg);
	background-color: var(--main-bg);
	border-radius: 0.25rem;
	box-shadow: 0 0.25rem 1rem var(--modal-backdrop-bg);
}

@media screen and (max-width: 499px) {
	.modal-backdrop .modal {
		margin: 0;
		padding: 1rem;
	}
}

.modal-backdrop .modal:focus { outline: none; }

.modal-backdrop .modal__title {
	font-size: 1.5rem;
}

.modal__close-button {
	position: absolute;
	top: -2rem;
	right: 1rem;
	display: block;
	margin: 0;
	padding: 0;
	border: none;
	background: var(--main-bg) url("icon/x.svg") no-repeat 0.5rem 0.5rem / 1rem 1rem;
	width: 2rem;
	height: 2rem;
	cursor: pointer;
}

.modal__close-button:hover {
	background-color: var(--block-bg);
}

.modal__content {
	overflow-y: auto;
}

/*
 * Buttons
 */

::-webkit-file-upload-button {
	line-height: normal;
	display: inline-block;
	color: var(--btn-fg);
	background-color: var(--btn-bg);
	border: none;
	border-radius: .15rem;
	text-decoration: none;
	padding: .25rem .5rem;
	font-size: 1rem;
	margin: 0;
	cursor: pointer;
}
::file-selector-button {
	line-height: normal;
	display: inline-block;
	color: var(--btn-fg);
	background-color: var(--btn-bg);
	border: none;
	border-radius: .15rem;
	text-decoration: none;
	padding: .25rem .5rem;
	font-size: 1rem;
	margin: 0;
	cursor: pointer;
}
.btn {
	line-height: normal;
	display: inline-block;
	color: var(--btn-fg);
	background-color: var(--btn-bg);
	border: none;
	border-radius: .15rem;
	text-decoration: none;
	padding: .25rem .5rem;
	font-size: 1rem;
	margin: 0;
	cursor: pointer;
}

::-webkit-file-upload-button { margin-right: 0.5rem; }
::file-selector-button { margin-right: 0.5rem; }

:hover::-webkit-file-upload-button { background-color: var(--btn-hover-bg); }
:hover::file-selector-button { background-color: var(--btn-hover-bg); }
select:hover, option:hover, .btn:hover {
	background-color: var(--btn-hover-bg);
}

.btn:hover, .btn:visited { color: var(--btn-fg); }
.btn_accent { font-weight: bold; }
.btn_weak {
	background-color: transparent;
	border: 0.125rem dashed var(--btn-bg);
	padding: 0.125rem 0.375rem;
}

.btn_destructive, btn_destructive:visited {
	background-color: var(--btn-destructive-bg);
	color: var(--btn-destructive-fg);
}
.btn_destructive:hover {
	background-color: var(--btn-destructive-hover-bg);
	color: var(--btn-destructive-fg);
}

.edit-toolbar__btn { font-size: .75rem; }

/*
 * Checkboxes
 */
input[type="checkbox"] {
	position: relative;
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	cursor: pointer;
	margin: 0;
	padding: 0;
	width: 1rem;
	height: 1rem;
	border: 0.125rem solid var(--border);
	outline-offset: 0.125rem;
	transform: translateY(0.125rem);
}

input[type="checkbox"]:checked::after {
	display: block;
	content: "";
	position: absolute;
	top: 0.1rem;
	left: 0.075rem;
	width: 0.6rem;
	height: 0.4rem;
	border-color: var(--link-fg);
	border-style: solid;
	border-width: 0 0 0.125rem 0.125rem;
	transform: rotate(-45deg);
}

input[type="checkbox"] + label { cursor: pointer; }
input[type="checkbox"]:disabled { cursor: not-allowed; background-color: var(--disabled-bg); }
input[type="checkbox"]:checked:disabled::after { border-color: var(--disabled-fg); }
input[type="checkbox"]:disabled + label { cursor: unset; }

/*
 * To-do lists
 */
.item_todo {
	position: relative;
	list-style: none;
	padding-left: 0.5rem;
}
.item_todo > input[type=checkbox] {
	position: absolute;
	left: -1rem;
	top: .1rem;
}
.item_todo > input[type="checkbox"]:disabled { cursor: unset; }
.item_todo > input[type="checkbox"]:disabled::after { border-color: var(--link-fg); }

/*
 * Recent changes
 */

.recent-changes__heading {
	margin: 1.2rem 0 0.3rem;
	font-size: 1.2rem;
}

.recent-changes__entry {
	padding: 0.5rem 1rem;
	border: 0.125rem solid var(--border);
	margin: 0 -1rem;
}
.recent-changes__entry + .recent-changes__entry {
	margin-top: -0.125rem;
}

.recent-changes__entry * + * {
	margin-top: 0.25rem;
}

.recent-changes__entry__time {
	font-weight: bold;
}

/*
 * Help pages
 */
.help h2:first-of-type {
	margin-top: .5rem;
}
.help-topics__list {
	margin: .5rem 0;
	padding-left: .5rem;
	line-height: 1.5rem;
}
.help-topics__list ul {
	padding-left: 1.5rem;
}

/*
 * Top bar
 */
.top-bar__wrapper {
	display: grid;
	padding: 0;
}
.top-bar a {
	color: var(--fg);
	text-decoration: none;
}
.top-bar__section {
	display: block;
}

.top-bar__hamburger-wrapper {
	display: flex;
	height: 100%;
	justify-content: flex-end;
}
.top-bar__hamburger {
	background: transparent;
	color: inherit;
	font-size: inherit;
	border: 0;
	display: block;
	margin: 0 .5rem 0 0;
	padding: .5rem;
}

.top-bar__hamburger:hover,
.top-bar__home-link:hover,
.auth-links__link:hover,
.top-bar__highlight-link:hover {
	background-color: var(--block-bg);
}
.auth-links__box {
	display: block;
	line-height: 2rem;
}
.auth-links__link {
	display: block;
	padding: 0 .5rem;
}
.top-bar__home-link-wrapper,
.top-bar__highlight {
	display: block;
	margin-right: .5rem;
	line-height: 2rem;
}
.top-bar__home-link,
.auth-links__link,
.top-bar__highlight-link {
	display: block;
	padding: 0 .5rem;
}

.top-bar__search-bar {
	border: 0;
	width: 100%;
	padding: 0.25rem;
}

.top-bar__section_search {
	align-self: center;
}

#top-bar__expand {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
}

@media screen and (min-width: 800px) {
	.top-bar {
		padding: 0;
	}
	.top-bar__wrapper {
		margin: 0 2rem;
		grid-template-columns: 1fr 1fr 1fr;
	}
	.top-bar__section_home {
		grid-column: 1 / span 1;
	}
	.top-bar__section_search {
		grid-column: 2 / span 1;
	}
	.top-bar__section_auth {
		grid-column: 3 / span 1;
	}
	.top-bar__section_highlights {
		grid-column: 1 / span 3;
	}
	.top-bar__section_hamburger {
		display: none;
	}

	.top-bar__search-bar {
		width: 100%;
	}

	.auth-links {
		display: flex;
		justify-content: flex-end;
		margin-right: -.5rem;
	}
	.top-bar__section_home,
	.top-bar__highlights {
		display: flex;
		padding: 0;
		margin: 0 0 0 -.5rem;
	}
	#top-bar__expand {
		display: none;
	}
}

@media screen and (max-width: 799px) {
	header {
		margin: 0;
	}
	.top-bar__wrapper {
		margin: 0;
		grid-template-columns: 2fr 1.3fr minmax(max-content, 0.7fr);
	}
	.top-bar__section_home {
		grid-column: 1 / span 1;
		margin-left: .5rem;
	}
	.top-bar__section_search {
		grid-column: 2 / span 1;
		text-align: center;
		width: 100%;
	}
	.top-bar__section_hamburger {
		grid-column: 3 / span 1;
		grid-row: 1 / span 1;
	}
	.top-bar__section_auth,
	.top-bar__section_highlights {
		grid-column: 1 / span 3;
	}
	.auth-links {
		padding: 0;
	}
	.top-bar__highlights {
		padding: 0;
	}
	.top-bar__highlight {
		margin-right: 0;
	}
	.auth-links__link,
	.top-bar__highlight-link {
		padding-left: 1rem;
	}
	#top-bar__expand:not(:checked) ~ .top-bar__section_hidden-on-mobile {
		display: none;
	}
}

/*
 * Buttons beside the hypha title
 */
.navi-title-buttons {
	display: flex;
	flex-flow: row-reverse wrap;
	margin: 0 0 0.5rem 0.5rem;
	float: right;
	gap: 0.5rem;
}

/*
 * Hypha bottom
 */
#hypha-bottom {
	clear: both;
}
.hypha-info {
	display: block;
}
.hypha-info__list {
	padding: 0;
	margin-bottom: 0;
}
.hypha-info__entry {
	display: inline;
}
.hypha-info__link {
	color: var(--border);
}
.hypha-info__link:hover {
	color: inherit;
}
.hypha-info__entry + .hypha-info__entry {
	text-transform: lowercase;
}
.hypha-info__entry:not(:last-child) a::after {
	content: ", ";
	display: inline-block;
	text-decoration: none;
}

/*
 * Definition list
 */
dt {
	font-weight: bold;
}
dd + dt {
	margin-top: .5rem;
}

/*
 * Interwiki page
 * A possible improvement: show those two fields when Generic is selected, hide otherwise
 */
.form--interwiki label,
.form--interwiki input[type="text"],
.form--interwiki input[type="url"] {
	display: block;
	width: 100%;
	max-width: 35rem;
}
.form--interwiki {
	padding: 0 1rem 1rem 1rem;
	margin: 1rem 0 1rem 0;
	border: 0.125rem solid var(--border);
}
.form--interwiki + .form--interwiki {
	margin-top: -1.125rem;
}
.form--interwiki__engine:has(option[value="generic"]:not(:checked)) ~ .form--interwiki__format {
	display: none;
}
.required-field::after {
	color: var(--error-border);
	content: "*";
	margin-left: .25rem;
}

/*
 * Image galleries
 */
.img-gallery {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
	margin: 1rem 0;
}

.img-gallery img {
	display: block;
	max-width: 100%;
	max-height: 50vh;
}

figure { margin: 0; }
figcaption { margin-top: 0.5rem }
figcaption >:first-child { margin-top: 0; }
figcaption >:last-child { margin-bottom: 0; }

@media screen and (min-width: 700px) {
	.img-gallery_layout-grid {
		grid-template-columns: 1fr 1fr;
	}

	.img-gallery_layout-side {
		float: right;
		max-width: 50%;
		margin: 0 0 0 1rem;
	}

	.img-gallery_layout-normal {
		grid-template-columns: auto minmax(auto, 1fr);
	}
	.img-gallery_layout-normal > figure {
		display: grid;
		grid-column: 1 / -1;
		grid-template-columns: subgrid;
		grid-template-rows: subgrid;
	}
	.img-gallery_layout-normal figcaption {
		margin-top: 0;
		min-width: 300px;
	}
}

/*
 * Primitive diff
 */
.primitive-diff__addition {
	color: var(--diff-addition-fg);
}
.primitive-diff__deletion {
	color: var(--diff-deletion-fg);
}
.primitive-diff__context {
	opacity: .5;
}

/*
 * Print CSS
 */
@media print {
	.subhyphae,
	header,
	.navi-title-buttons,
	h1 a:first-of-type,
	.prevnext,
	#hypha-bottom,
	.categories-card input,
	.btn.categories-card__btn {
		display: none;
	}

	.icon, .wikilink_external, .launchpad__entry, mark {
		-webkit-print-color-adjust: exact;
		color-adjust: exact;
		print-color-adjust: exact;
	}
	.item_todo > input[type=checkbox] {
		width: 0;
		height: 0;
		border: 0;
	}
	.item_todo > input[type="checkbox"]::after { display: none; }
	.item_todo > input[type="checkbox"]::before {
		display: block;
		content: "☒";
		font-size: 1.2rem;
		margin-top: -0.1rem;
	}
	.item_todo > input[type="checkbox"]:checked::before { content: "☑"; }

	.categories-card h2 {
		display: inline;
		border: 0;
		margin-left: 2rem;
		padding: 0;
	}
	.categories-card h2:after {
		content: ":";
	}
	.categories-card {
		margin-top: -1rem;
	}
	.categories-card__entries {
		padding: 0;
		display: inline;
	}
	.categories-card__entry {
		display: inline-block;
	}
	.categories-card__link {
		text-decoration: underline;
		padding: 0;
	}
	.categories-card__link:after {
		content: ", ";
	}
	main {
		padding: 1rem 2rem;
		font-family: Georgia, serif;
	}
}
