{{define "register on"}}Register on{{end}}
{{define "title"}}{{template "register on"}} {{template "wiki name"}}{{end}}
{{define "body"}}
<form class="modal form--double" method="post" action="{{ .Meta.Root }}register?{{.RawQuery}}" id="register-form" enctype="multipart/form-data" autocomplete="off">
	<fieldset class="modal__fieldset">
		<legend class="modal__title">{{template "title"}}</legend>
		{{if .Err}}
		<div class="notice notice--error">
			<strong>{{block "error" .}}Error{{end}}:</strong> {{.Err}}
		</div>
		{{end}}
		<div class="form-field">
			<label for="register-form__username">{{block "username" .}}Username{{end}}</label>
			<input type="text" required autofocus id="register-form__username" name="username"{{if .Username}} value="{{.Username}}"{{end}}>
		</div>
		<div class="form-field">
			<label for="register-form__password">{{block "password" .}}Password{{end}}</label>
			<input type="password" required name="password" id="register-form__password"{{if .Password}} value="{{.Password}}"{{end}}>
		</div>
		{{if .RegisterAnonOnLocked }}
		<p>{{block "approval tip" .}}New users must be approved by an administrator before they can access the wiki.{{end}}</p>
		{{end}}
		<p>{{block "password tip" .}}The server stores your password in an encrypted form; even administrators cannot read it.{{end}}</p>
		<p>{{block "cookie tip" .}}By submitting this form you give this wiki a permission to store cookies in your browser. It lets the engine associate your edits with you. You will stay logged in until you log out.{{end}}</p>
		<div class="form-buttons">
			<button class="btn" type="submit">{{block "register btn" .}}Register{{end}}</button>
			<a class="btn btn_weak" href="{{ .Meta.Root }}{{.RawQuery}}">{{block "cancel" .}}Cancel{{end}}</a>
		</div>
	</fieldset>
</form>
{{template "telegram widget" .}}
{{end}}
