{{define "log in to x"}}Log in to {{.}}{{end}}
{{define "lock title"}}Locked{{end}}
{{define "title"}}{{if .Locked}}{{template "lock title"}}{{else}}{{template "log in to x" .WikiName}}{{end}}{{end}}
{{define "body"}}
{{if and .Locked (not .Meta.U.IsEmpty) }}
<form class="modal" method="post" action="{{ .Meta.Root }}logout">
	<fieldset class="modal__fieldset">
		<legend class="modal__title icon icon-lock">{{template "title" .}}</legend>
		<p>{{block "approval tip" .}}New users must be approved by an administrator before they can access the wiki.{{end}}</p>
		<div class="form-buttons">
			<button class="btn" type="submit">{{block "log out" .}}Log out{{end}}</button>
		</div>
	</fieldset>
</form>
{{else}}
<form class="modal form--double" method="post" action="{{ .Meta.Root }}login" id="login-form" enctype="multipart/form-data" autocomplete="on">
	<fieldset class="modal__fieldset">
		<legend class="modal__title {{if .Locked}}icon icon-lock{{end}}">{{template "title" .}}</legend>
		{{if .Err}}
		<div class="notice notice--error">
			{{if .ErrLogin}}
			{{block "error login" .}}Wrong username or password.{{end}}
			{{else if .ErrTelegram}}
			{{block "error telegram" .}}Could not authorize using Telegram.{{end}}
			{{else}}
			<strong>{{block "error" .}}Error{{end}}:</strong> {{.Err}}
			{{end}}
		</div>
		{{end}}
		<div class="form-field">
			<label for="login-form__username">{{block "username" .}}Username{{end}}:</label>
			<input type="text" required autofocus id="login-form__username" name="username" autocomplete="username"{{if .Username}} value="{{.Username}}"{{end}}>
		</div>
		<div class="form-field">
			<label for="login-form__password">{{block "password" .}}Password{{end}}:</label>
			<input type="password" required name="password" autocomplete="current-password">
		</div>
		<p>{{block "cookie tip" .}}By submitting this form you give this wiki a permission to store cookies in your browser. It lets the engine associate your edits with you. You will stay logged in until you log out.{{end}}</p>
		<div class="form-buttons">
			<button class="btn" type="submit">{{block "log in" .}}Log in{{end}}</button>
			{{if .AllowRegistration}}
			<a class="btn" href="{{ .Meta.Root }}register">{{block "register" .}}Register{{end}}</a>
			{{end}}
			{{if not .Locked}}
			<a class="btn btn_weak" href="{{ .Meta.Root }}">{{block "cancel" .}}Cancel{{end}}</a>
			{{end}}
		</div>
	</fieldset>
</form>
{{template "telegram widget" .}}
{{end}}
{{end}}
