{{define "edit category x"}}Edit category {{beautifulName .}}{{end}}
{{define "title"}}{{template "edit category x" .CatName}}{{end}}
{{define "body"}}
<main class="main-width category">
	<h1>{{block "edit category heading" .}}Edit category <a href="{{ .Meta.Root }}category/{{.CatName}}">{{beautifulName .CatName}}</a>{{end}}</h1>
	{{if len .Hyphae | not}}
	<p>{{block "empty cat" .}}This category is empty{{end}}</p>
	{{end}}

	{{if .GivenPermissionToModify}}
	<h2>{{block "add to category title" .}}Add a hypha to the category{{end}}</h2>
	<form method="POST" action="{{ .Meta.Root }}add-to-category" class="form--double">
		<input type="hidden" name="cat" value="{{.CatName}}">
		<input type="hidden" name="redirect-to" value="{{ .Meta.Root }}edit-category/{{.CatName}}">
		<div class="form-field">
			<label for="_hypha-name">{{block `hypha name` .}}Hypha name{{end}}:</label>
			<input type="text" name="hypha" id="_hypha-name">
		</div>
		<div class="form-buttons">
			<button type="submit" class="btn">{{block "add" .}}Add{{end}}</button>
		</div>
	</form>

	{{if len .Hyphae}}
	<h2>{{block "remove hyphae" .}}Remove hyphae from the category{{end}}</h2>
	<form method="POST" action="{{ .Meta.Root }}remove-from-category" class="multi-remove-from-category">
		<input type="hidden" name="cat" value="{{.CatName}}">
		<input type="hidden" name="redirect-to" value="{{ .Meta.Root }}edit-category/{{.CatName}}">
		<ol class="form-field">
			{{range .Hyphae}}
			<li>
				<input type="checkbox" name="_{{.}}" id="_{{.}}">
				<label for="_{{.}}"><a href="{{ $.Meta.Root }}hypha/{{.}}">{{beautifulName .}}</a></label>
			</li>
			{{end}}
		</ol>
		<div class="form-buttons">
			<button type="submit" class="btn">{{block "remove" .}}Remove{{end}}</button>
		</div>
	</form>
	{{end}}
	{{end}}
</main>
{{end}}
