{{define "hypha at rev"}}{{.HyphaName}} at {{.RevHash}}{{end}}
{{define "title"}}{{template "hypha at rev" .}}{{end}}
{{define "body"}}
<main class="main-width">
	<section>
		<div class="navi-title-buttons">
			{{if .CanRevert}}
			<a class="btn" href="{{ .Meta.Root }}revert/{{.RevHash}}/{{.HyphaName}}">
				{{block "revert" .}}Revert{{end}}
			</a>
			{{end}}
			<a class="btn" href="{{ .Meta.Root }}rev-text/{{.RevHash}}/{{.HyphaName}}">
				{{block "revision link" .}}View markup{{end}}
			</a>
		</div>
		{{.NaviTitle}}
		{{.Contents}}
	</section>
</main>
{{range .ViewScripts}}
<script src="{{.}}"></script>
{{end}}
{{end}}
