{{define "interwiki map"}}Intermap{{end}}
{{define "title"}}{{template "interwiki map"}}{{end}}
{{define "name"}}Name{{end}}
{{define "aliases"}}Aliases{{end}}
{{define "aliases (,)"}}Aliases (separated by commas){{end}}
{{define "engine"}}Engine{{end}}
{{define "engine/mycorrhiza"}}Mycorrhiza 🍄{{end}}
{{define "engine/betula"}}Betula 🌳{{end}}
{{define "engine/agora"}}Agora ἀ{{end}}
{{define "engine/generic"}}Generic (any website){{end}}
{{define "url"}}URL{{end}}
{{define "link href format"}}Link href attribute format string{{end}}
{{define "img src format"}}Image src attribute format string{{end}}
{{define "unset map"}}No interwiki map set.{{end}}
{{define "add interwiki entry"}}Add interwiki entry{{end}}
{{define "save"}}Save{{end}}
{{define "delete"}}Delete{{end}}

{{define "static map"}}
	{{if len .Entries}}
	<table>
		<thead>
			<tr>
				<th>{{template "name"}}</th>
				<th>{{template "aliases"}}</th>
				<th>{{template "engine"}}</th>
				<th>{{template "url"}}</th>
				<th>{{template "link href format"}}</th>
				<th>{{template "img src format"}}</th>
			</tr>
		</thead>
		<tbody>
			{{range $i, $wiki := .Entries}}
			<tr>
				<td>{{.Name}}</td>
				<td>{{range $j, $alias := .Aliases}}{{if gt $j 0}}, {{end}}{{.}}{{end}}</td>
				<td>{{.Engine}}</td>
				<td>{{.URL}}</td>
				<td>{{.LinkHrefFormat}}</td>
				<td>{{.ImgSrcFormat}}</td>
			</tr>
			{{end}}
		</tbody>
	</table>
    {{else}}
	<p>{{template "unset map"}}</p>
	{{end}}
{{end}}

{{define "authorized map"}}
	{{if .Error}}
		<p class="notice notice--error">
			<strong>{{template "error"}}:</strong>
			{{.Error}}
		</p>
	{{end}}

	{{range $i, $wiki := .Entries}}
		<form method="post" action="{{$.Meta.Root}}interwiki/modify-entry/{{.Name}}" class="form--interwiki">
			<div class="form-field">
				<label for="name{{$i}}" class="required-field">{{template "name"}}:</label>
				<input type="text" id="name{{$i}}" name="name" required
				       value="{{.Name}}">
			</div>
			<div class="form-field">
				<label for="aliases{{$i}}">{{template "aliases (,)"}}:</label>
				<input type="text" id="aliases{{$i}}" name="aliases"
				       value="{{range $j, $alias := .Aliases}}{{if gt $j 0}}, {{end}}{{.}}{{end}}">
			</div>
			<div class="form-field">
				<label for="url{{$i}}" class="required-field">{{template "url"}}:</label>
				<input type="url" id="url{{$i}}" name="url" required
				       value="{{.URL}}">
			</div>
			<div class="form-field form--interwiki__engine">
				<label for="engine{{$i}}" class="required-field">{{template "engine"}}:</label>
				<select name="engine" id="engine{{$i}}" required>
					<option value="mycorrhiza" {{if eq .Engine "mycorrhiza"}}selected{{end}}>{{template "engine/mycorrhiza"}}</option>
					<option value="betula" {{if eq .Engine "betula"}}selected{{end}}>{{template "engine/betula"}}</option>
					<option value="agora" {{if eq .Engine "agora"}}selected{{end}}>{{template "engine/agora"}}</option>
					<option value="generic" {{if eq .Engine "generic"}}selected{{end}}>{{template "engine/generic"}}</option>
				</select>
			</div>
			<div class="form-field form--interwiki__format">
				<label for="link-href-format{{$i}}">{{template "link href format"}}:</label>
				<input type="url" id="link-href-format{{$i}}" name="link-href-format"
				       value="{{.LinkHrefFormat}}">
			</div>
			<div class="form-field form--interwiki__format">
				<label for="img-src-format{{$i}}">{{template "img src format"}}:</label>
				<input type="url" id="img-src-format{{$i}}" name="img-src-format"
				       value="{{.ImgSrcFormat}}">
			</div>
			<div class="form-buttons">
				<button type="submit" name="action" class="btn btn_accent" value="save">
					{{template "save"}}
				</button>
				<button type="submit" name="action" class="btn btn_destructive" value="delete">
					{{template "delete"}}
				</button>
			</div>
		</form>
	{{end}}

	<form method="post" action="{{.Meta.Root}}interwiki/add-entry" class="form--interwiki">
		<h2>{{template "add interwiki entry"}}</h2>
		<div class="form-field">
			<label for="name" class="required-field">{{template "name"}}:</label>
			<input type="text" id="name" name="name" required
			       placeholder="home_wiki">
		</div>
		<div class="form-field">
			<label for="aliases">{{template "aliases (,)"}}:</label>
			<input type="text" id="aliases" name="aliases"
			       placeholder="homewiki, hw">
		</div>
		<div class="form-field">
			<label for="url" class="required-field">{{template "url"}}:</label>
			<input type="url" id="url" name="url" required
			       placeholder="https://wiki.example.org">
		</div>
		<div class="form-field form--interwiki__engine">
			<label for="engine" class="required-field">{{template "engine"}}:</label>
			<select name="engine" id="engine" required>
				<option value="mycorrhiza">{{template "engine/mycorrhiza"}}</option>
				<option value="betula">{{template "engine/betula"}}</option>
				<option value="agora">{{template "engine/agora"}}</option>
				<option value="generic">{{template "engine/generic"}}</option>
			</select>
		</div>
		<div class="form-field form--interwiki__format">
			<label for="link-href-format">{{template "link href format"}}:</label>
			<input type="url" id="link-href-format" name="link-href-format"
			       placeholder="https://wiki.example.org/view/{NAME}">
		</div>
		<div class="form-field form--interwiki__format">
			<label for="img-src-format">{{template "img src format"}}:</label>
			<input type="url" id="img-src-format" name="img-src-format"
			       placeholder="https://wiki.example.org/media/{NAME}">
		</div>
		<div class="form-buttons">
			<input type="submit" class="btn btn_accent" value="Add entry">
		</div>
	</form>
{{end}}

{{define "documentation."}}Documentation.{{end}}
{{define "edit separately."}}Edit and save every entry separately.{{end}}
{{define "body"}}
	<main class="main-width">
		<h1>{{template "interwiki map"}}</h1>
		{{if .CanEdit}}
			<p><a class="wikilink" href="{{ .Meta.Root }}help/en/interwiki">{{template "documentation."}}</a> {{template "edit separately."}}</p>
			{{template "authorized map" .}}
		{{else}}
			<p><a class="wikilink" href="{{ .Meta.Root }}help/en/interwiki">{{template "documentation."}}</a></p>
			{{template "static map" .}}
		{{end}}
	</main>
{{end}}
